*.icloud
.idea
.DS_Store
node_modules
dist
lerna-debug.log
yarn-error.log
**/*.tsbuildinfo
.yarn/*
**/.yarn/install-state.gz
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.code-workspace
.nova
**/dist/*
**/.yalc/*
**/yalc.lock

